# Capstone Project

### Data Cleaning

In [118]:
#Import libraries
import pandas as pd
import numpy as np
import re
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
from transformers import pipeline
import country_converter as coco
import geonamescache
import us
import logging

gc = geonamescache.GeonamesCache()

**Read in both #workfromhome and #remotework**

In [119]:
wfh_df = pd.read_csv("../dataset/tweet_df.csv")
rw_df = pd.read_csv("../dataset/remote_work.csv")

In [120]:
#https://catriscode.com/2021/03/02/extracting-or-removing-mentions-and-hashtags-in-tweets-using-python/
#https://www.debuggex.com/cheatsheet/regex/python
#https://stackoverflow.com/questions/50830214/remove-usernames-from-twitter-data-using-python/50830588
#https://stackoverflow.com/questions/14081050/remove-all-forms-of-urls-from-a-given-string-in-python
def remove_splchar(tweet):
    tweet = tweet.lower() # Lowercases the string
    tweet = re.sub('@[^\s]+', ' ', tweet) # remove usernames
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', ' ', tweet) #remove URLs
    tweet=re.sub('[^a-zA-Z#]', ' ', tweet) # remove special characters, numbers, punctuations
    tweet = re.sub("#[A-Za-z0-9_]+"," ", tweet) #remove hashtags
    tweet = re.sub(r"\s+", " ", str(tweet)) # replace double spaces with single space
    return tweet

In [121]:
#https://www.geeksforgeeks.org/python-spilt-a-sentence-into-list-of-words/
#https://stackoverflow.com/questions/771918/how-do-i-do-word-stemming-or-lemmatization
def lemmitize(tweet):
    clean_column_list = []
    wnl = WordNetLemmatizer()
    words = tweet.split()
    for word in words:
        clean_column_list.append(wnl.lemmatize(word)) 
    return " ".join(clean_column_list)

In [122]:
#Instantiate sentimnt analysis
sent = pipeline('sentiment-analysis')

Some layers from the model checkpoint at distilbert-base-uncased-finetuned-sst-2-english were not used when initializing TFDistilBertForSequenceClassification: ['dropout_19']
- This IS expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some layers of TFDistilBertForSequenceClassification were not initialized from the model checkpoint at distilbert-base-uncased-finetuned-sst-2-english and are newly initialized: ['dropout_39']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [123]:
#Get polarity score of each tweet
def getPolarity(tweet):
    polarity_dic = sent(tweet)
    if polarity_dic[0]['label'] == 'POSITIVE':
        return 1
    else:
        return 0

In [124]:
def get_cities_by_country(code):
    cities = []
    for city in gc.get_cities().values():
        if (city['countrycode'] == code) and (len(city['name']) > 3):
            cities.append(city['name'])
    return list(map(lambda x: x.lower(), cities));

In [125]:
def getstates_citiesz_of_usa():
    usa_state_names = [state.name.lower() for state in us.states.STATES_AND_TERRITORIES]
    return get_cities_by_country('US') + usa_state_names;

In [126]:
usa_state_cities_names = getstates_citiesz_of_usa()
indian_cities = get_cities_by_country('IN')
uk_cities = get_cities_by_country('GB')

In [127]:
def checkForUSA(location):
    country = location;
    if location.lower().find('usa') != -1 or location.lower().find('united states of america') != -1 or location.lower().find('united states') != -1:
        country = 'USA'
    elif us.states.lookup(location.split(',')[-1].strip()) != None  or  location.lower().find('america') != -1 or location.lower().find('u.s.a.') != -1:  
        country = 'USA'
    else:    
        for state_city in usa_state_cities_names:
            if location.lower().find(state_city) != -1:
                country = 'USA'
                break;
    return country

In [128]:
def check_for_india(location):
    country = location;
    if location.lower().find('india') != -1:
        country = 'India'
    else:    
        for cities in indian_cities:
            if location.lower().find(cities) != -1:
                country = 'India'
                break;
    return country

In [129]:
def check_for_uk(location):
    country = location;
    if location.lower().find('uk') != -1 or location.lower().find('britan') != -1 or location.lower().find('united kingdom') != -1:
        country = 'United Kingdom'
    else:    
        for cities in uk_cities:
            if location.lower().find(cities) != -1:
                country = 'United Kingdom'
                break;
    return country

In [130]:
def check_for_others(location):
    country = location;  
    dicts = gc.get_countries_by_names();
    for country_name,data in dicts.items():
        if location.lower().find(country_name.lower()) != -1:
            return country_name
    return country

**#workfromhome  dataframe cleaning**

In [131]:
#Drop Unnamed: 0 column
wfh_df.drop('Unnamed: 0', axis=1, inplace=True)

In [132]:
#Check to confirm if the column got deleted 
wfh_df.head(3)

,tweets,user_location,tweet_posted_on,tweet_id
0,Quickly learn how to construct a really good c...,"London, England",Fri Jul 16 22:34:40 +0000 2021,1416164405633499136
1,Could YOU Fire Your Boss and Live the Dream? T...,"Chapala, Jalisco, Mexico",Fri Jul 16 22:28:19 +0000 2021,1416162808379678722
2,Are you exhausting yourself trying to make a s...,"Jalisco, México-retired Iowan",Fri Jul 16 22:21:11 +0000 2021,1416161014496874498

In [133]:
#Check the shape of the dataframe
wfh_df.shape

(5397, 4)

In [134]:
#Check missing values
wfh_df.isnull().sum()

tweets             0
user_location      0
tweet_posted_on    0
tweet_id           0
dtype: int64

In [135]:
#Check datatypes
wfh_df.dtypes

tweets             object
user_location      object
tweet_posted_on    object
tweet_id            int64
dtype: object

In [136]:
# Change column to be datetime dtype
#https://stackoverflow.com/questions/50503033/remove-minutes-and-hours-from-series
wfh_df['tweet_posted_on'] = pd.to_datetime(wfh_df['tweet_posted_on'])

In [137]:
wfh_df['user_location'].unique()

array(['London, England', 'Chapala, Jalisco, Mexico',
       'Jalisco, México-retired Iowan', ..., 'San Francisco, California ',
       'Knoxville, TN', 'no where'], dtype=object)

In [138]:
#https://stackoverflow.com/questions/52673285/performance-of-pandas-apply-vs-np-vectorize-to-create-new-column-from-existing-c/52674448#52674448
#Create a new column for processed tweets
wfh_df['cleaned_tweets'] = np.vectorize(remove_splchar)(wfh_df['tweets'])

In [139]:
#Get list of words which have more than 3 letters
wfh_df['cleaned_tweets'] = wfh_df['cleaned_tweets'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [140]:
# Place new lists of lemmitized words into the 'cleaned_tweets' column in the dataframe
wfh_df['cleaned_tweets'] = wfh_df['cleaned_tweets'].map(lemmitize)

In [141]:
#Create a new column 'polarity' to save tweet polarity score
wfh_df['polarity'] = wfh_df['cleaned_tweets'].map(getPolarity)

In [142]:
#Change column order
wfh_df = wfh_df[['tweet_id','tweet_posted_on','tweets','cleaned_tweets','user_location','polarity']]

In [143]:
#Check the dataframe
wfh_df.head(3)

,tweet_id,tweet_posted_on,tweets,cleaned_tweets,user_location,polarity
0,1416164405633499136,2021-07-16 22:34:40+00:00,Quickly learn how to construct a really good c...,quickly learn construct really good want recei...,"London, England",1
1,1416162808379678722,2021-07-16 22:28:19+00:00,Could YOU Fire Your Boss and Live the Dream? T...,could fire your bos live dream this waiter could,"Chapala, Jalisco, Mexico",1
2,1416161014496874498,2021-07-16 22:21:11+00:00,Are you exhausting yourself trying to make a s...,exhausting yourself trying make sale online wo...,"Jalisco, México-retired Iowan",0

**#remotework dataframe cleaning**

In [144]:
#Drop Unnamed: 0 column
rw_df.drop('Unnamed: 0', axis=1, inplace=True)

In [145]:
#Check to confirm if the column got deleted 
rw_df.head(3)

,tweets,user_location,tweet_posted_on,tweet_id
0,🏡 #RemoteWork is on the rise &amp; slowly beco...,"New York, NY",Fri Jul 16 23:43:03 +0000 2021,1416181616846811137
1,Opportunity to join a fantastic team at a hi-t...,London | New York,Fri Jul 16 23:42:07 +0000 2021,1416181380279635970
2,Good news for #JobSeekers open to #RemoteWork!...,Sydney | Hong Kong | Singapore,Fri Jul 16 23:41:30 +0000 2021,1416181225979473920

In [146]:
#Check the shape of the dataframe
rw_df.shape

(5429, 4)

In [147]:
#Check missing values
rw_df.isnull().sum()

tweets             0
user_location      0
tweet_posted_on    0
tweet_id           0
dtype: int64

In [148]:
#Check datatypes
rw_df.dtypes

tweets             object
user_location      object
tweet_posted_on    object
tweet_id            int64
dtype: object

In [149]:
# Change column to be datetime dtype
rw_df['tweet_posted_on'] = pd.to_datetime(rw_df['tweet_posted_on'])

In [150]:
rw_df['user_location'].unique()

array(['New York, NY', 'London | New York',
       'Sydney | Hong Kong | Singapore', ...,
       'At home. Dressed comfortably.', 'Long Beach NY & NYC',
       'Miami/LA '], dtype=object)

In [151]:
#Create a new column for processed tweets
rw_df['cleaned_tweets'] = np.vectorize(remove_splchar)(rw_df['tweets'])

In [152]:
#Get list of words which have more than 3 letters
rw_df['cleaned_tweets'] = rw_df['cleaned_tweets'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [153]:
# Place new lists of lemmitized words into the 'cleaned_tweets' column in the dataframe
rw_df['cleaned_tweets'] = rw_df['cleaned_tweets'].map(lemmitize)

In [154]:
#Create a new column 'polarity' to save tweet polarity score
rw_df['polarity'] = rw_df['cleaned_tweets'].map(getPolarity)

In [155]:
#Change column order
rw_df = rw_df[['tweet_id','tweet_posted_on','tweets','cleaned_tweets','user_location','polarity']]

In [156]:
#Check the dataframe
rw_df.head(3)

,tweet_id,tweet_posted_on,tweets,cleaned_tweets,user_location,polarity
0,1416181616846811137,2021-07-16 23:43:03+00:00,🏡 #RemoteWork is on the rise &amp; slowly beco...,rise slowly becoming normal which mean need re...,"New York, NY",1
1,1416181380279635970,2021-07-16 23:42:07+00:00,Opportunity to join a fantastic team at a hi-t...,opportunity join fantastic team tech fast pace...,London | New York,1
2,1416181225979473920,2021-07-16 23:41:30+00:00,Good news for #JobSeekers open to #RemoteWork!...,good news open this excellent report from remo...,Sydney | Hong Kong | Singapore,1

### Merge both dataframes

In [157]:
#https://www.geeksforgeeks.org/python-intersection-two-lists/
#Check number of rows that are common in both based on 'tweet_id'
len(set(rw_df['tweet_id']).intersection(wfh_df['tweet_id']))

592

In [158]:
#https://stackoverflow.com/questions/21317384/pandas-python-how-to-concatenate-two-dataframes-without-duplicates
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
#Concatenate both datasets
final_df = pd.concat([rw_df,wfh_df]).drop_duplicates(subset=['tweet_id'], keep='first').reset_index(drop=True)

In [159]:
final_df['user_location_cleaned'] = final_df['user_location'].astype(str).map(checkForUSA)

In [160]:
final_df['user_location_cleaned'] = final_df['user_location_cleaned'].astype(str).map(check_for_india)

In [161]:
final_df['user_location_cleaned'] = final_df['user_location_cleaned'].astype(str).map(check_for_uk)

In [162]:
final_df['user_location_cleaned'] = final_df['user_location_cleaned'].astype(str).map(check_for_others)

In [163]:
coco_logger = coco.logging.getLogger()
coco_logger.setLevel(logging.CRITICAL)
final_df['user_location_cleaned'] = coco.convert(names=final_df['user_location_cleaned'].tolist(), to='ISO2', not_found='None')

In [164]:
#Check the shape of the dataframe
final_df.shape

(10234, 7)

In [165]:
final_df.head(3)

,tweet_id,tweet_posted_on,tweets,cleaned_tweets,user_location,polarity,user_location_cleaned
0,1416181616846811137,2021-07-16 23:43:03+00:00,🏡 #RemoteWork is on the rise &amp; slowly beco...,rise slowly becoming normal which mean need re...,"New York, NY",1,US
1,1416181380279635970,2021-07-16 23:42:07+00:00,Opportunity to join a fantastic team at a hi-t...,opportunity join fantastic team tech fast pace...,London | New York,1,US
2,1416181225979473920,2021-07-16 23:41:30+00:00,Good news for #JobSeekers open to #RemoteWork!...,good news open this excellent report from remo...,Sydney | Hong Kong | Singapore,1,HK

In [166]:
#Save in a 'dataset' folder with a name 'final_df.csv'
final_df.to_csv('../dataset/final_df.csv')

### Merge data_11to19.csv to final_df

In [167]:
#Read in 'data_11to19.csv'
data_from_11to19 = pd.read_csv("../dataset/data_from_11to19.csv")

In [168]:
#Check shape
data_from_11to19.shape

(15504, 7)

In [169]:
#Create a new column 'user_location_cleaned' and map wherever user_location is mentioned as USA/usa/related locations to 'USA'
data_from_11to19['user_location_cleaned'] = data_from_11to19['user_location'].astype(str).map(checkForUSA)

In [170]:
data_from_11to19['user_location_cleaned'] = data_from_11to19['user_location_cleaned'].astype(str).map(check_for_india)

In [171]:
data_from_11to19['user_location_cleaned'] = data_from_11to19['user_location_cleaned'].astype(str).map(check_for_uk)

In [172]:
data_from_11to19['user_location_cleaned'] = data_from_11to19['user_location_cleaned'].astype(str).map(check_for_others)

In [173]:
coco_logger = coco.logging.getLogger()
coco_logger.setLevel(logging.CRITICAL)
data_from_11to19['user_location_cleaned'] = coco.convert(names=data_from_11to19['user_location_cleaned'].tolist(), to='ISO2', not_found='None')

In [174]:
#Check number of rows that are common in both based on 'tweet_id'
len(set(final_df['tweet_id']).intersection(data_from_11to19['tweet_id']))

10073

In [175]:
#Concatenate both datasets
final_df = pd.concat([final_df,data_from_11to19]).drop_duplicates(subset=['tweet_id'], keep='first').reset_index(drop=True)

In [176]:
#Save in a 'dataset' folder with a name 'final_df.csv'
final_df.to_csv('../dataset/final_df.csv')

### Merge data_19to25.csv to final_df

In [177]:
#Read in 'data_19to25.csv'
data_19to25 = pd.read_csv("../dataset/data_19to25.csv")

In [178]:
#Check shape
data_19to25.shape

(8177, 8)

In [179]:
#Drop Unnamed: 0 column
data_19to25.drop('Unnamed: 0', axis=1, inplace=True)

In [180]:
#Check number of rows that are common in both based on 'tweet_id'
len(set(final_df['tweet_id']).intersection(data_19to25['tweet_id']))

1689

In [181]:
#Concatenate both datasets
final_df = pd.concat([final_df,data_19to25]).drop_duplicates(subset=['tweet_id'], keep='first').reset_index(drop=True)

In [182]:
#Save in a 'dataset' folder with a name 'final_df.csv'
final_df.to_csv('../dataset/final_df.csv')

In [183]:
final_df.shape

(22153, 8)