In [1]:
#Import libraries
import pandas as pd

In [2]:
#Read the data
tweet_df = pd.read_csv("./tweet_df.csv")
tweet_df.head(3)

   Unnamed: 0                                             tweets
0           0  RT @BSNL_RJ: #BSNL attractive #Plan for mobile...
1           1  Marketing/Customer Service Rep – $35,000 – $45...
2           2  The Great Resignation: Why Millions of Workers...

In [3]:
#Drop Unnamed: 0 column
tweet_df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
#Check to confirm if the column got deleted 
tweet_df.head(3)

                                              tweets
0  RT @BSNL_RJ: #BSNL attractive #Plan for mobile...
1  Marketing/Customer Service Rep – $35,000 – $45...
2  The Great Resignation: Why Millions of Workers...